* {
  padding: 0;
  margin: 0;
}

body {
  background: #eee;
  box-sizing: border-box;
  height: 100vh;
  font-family: "Nunito", sans-serif;
}

#header {
  width: 100%;
  height: 40px;
  position: fixed;
  background: white;
  font-family: "Fredoka", sans-serif;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 200;
}
.firstlayer {
  display: inline-flex;
  height: 40px;
}
.logoSide {
  float: left;
  width: 40vw;
  display: inline-flex;
}
.timeSide {
  padding-right: 5px;
  float: right;
  width: 10vw;
  text-align: right;
  background: #eee;
}
.profile {
  float: right;
  width: 50vw;
  display: inline-flex;
  justify-content: right;
}
.adminName {
  padding: 5px;
}
.petsociety {
  padding: 5px;
}
#currentDate {
  padding: 5px;
  margin-right: 10px;
}
#profilePic {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  margin: 5px;
  background: #5a5bf3;
}
.profile .dropbtn {
  border: none;
  outline: none;
  color: #444;
  display: inline-flex;
  background-color: inherit;
  font-family: inherit;
}
.drop-content {
  display: none;
  margin-top: 40px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.drop-content a {
  float: none;
  padding: 10px;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}
.drop-content a:hover {
  background: #eee;
}
.profile:hover .drop-content {
  display: inline;
}
#bodyleft {
  display: inline-flex;
  flex-direction: column;
  float: left;
  background-image: linear-gradient(#5a5bf3, #91e7d9);
  height: 100vh;
  width: 15%;
  font-size: 1vw;
}
#bodyleft .leftBody {
  height: 90vh;
  margin-top: 80px;
}
.leftBody h3 {
  text-align: center;
  border-radius: 3px;
  color: #fff;
  height: 30px;
  line-height: 30px;
}

.leftBody ul {
  list-style-type: none;
}

.leftBody ul li {
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  margin-top: 5px;
}
.leftBody ul .donate {
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
}
.leftBody ul li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  width: 100%;
}

.leftBody ul li a:hover {
  background: #28287774;
  transition: ease-in-out 0.5s;
}

#bodyleft .leftFooter {
  height: 8vh;
  background: rgba(0, 0, 0, 0.145);
}
.iconContainer {
  margin-top: 15px;
  margin-left: 5px;
  padding-top: 7px;
  text-align: left;
}
.footicons {
  width: 25px;
  height: 25px;
  padding: 5px;
}
.subList {
  font-size: 0.8vw;
  color: white;
  margin-left: 25px;
  border-left: 0.7px solid white;
  margin-bottom: 15px;
}
.subList li {
  float: none;
  padding-left: 5px;
}
.subList li:hover {
  background: #28287774;
}

#bodyright {
  padding-left: 10px;
  overflow-x: scroll;
  width: 80%;
  height: 100;
  background: #eee;
  border-radius: 3px;
  float: left;
  margin-top: 7vh;
}

#bodyright h3 {
  text-align: left;
  border-radius: 3px;
  color: #444;
  height: 30px;
  line-height: 30px;
  font-family: "Varela Round", sans-serif;
}

#bodyright form table {
  border-spacing: 0px;
  width: 100%;
  margin: auto;
  margin-top: 10px;
}

#bodyright form table tr td {
  height: 35px;
  color: #444;
  padding-left: 10px;
}

#bodyright form table tr th {
  padding: 0% 55px 0% 2%;
  box-sizing: border-box;
  color: #444;
  text-align: left;
  height: 30px;
  background: white;
  font-size: 16px;
}

#bodyright form table tr td input {
  width: 100%;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #444;
  outline: none;
  padding-left: 5px;
}

#bodyright form table tr td select {
  padding-left: 2%;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #444;
}

#bodyright form table tr td a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
}
#bodyright form table tr td a:hover {
  background: hsla(0, 0%, 0%, 0.152);
  transition: 0.5s;
}

#bodyright form button {
  height: 30px;
  color: #fff;
  border-radius: 3px;
  width: 100px;
  background: #5a5bf3;
  border: none;
}

#bodyright form button:hover {
  background: #400040;
}

#add_cat {
  margin-top: 20px;
}

.scroll {
  overflow-x: scroll;
}

.scroll form table tr th {
  text-align: center !important;
  font-size: 16px !important;
  border: none;
}

.scroll form table tr td {
  padding-left: 2% !important;
  min-width: 150px;
  height: 35px;
  text-align: center !important;
}

.scroll form table tr td img {
  height: 30px;
  width: 30px;
}
.navicons {
  width: 20px;
  height: 15px;
  margin-left: 3%;
  margin-right: 3%;
}
.logo {
  width: 25px;
  height: 25px;
  padding-right: 3px;
  padding-top: 3px;
  margin-right: 3px;
  margin-left: 5px;
}
.catIcons {
  width: 15px;
  height: 15px;
}
